<div align="left">
<table style="width:50%">
  <tr>
    <th>Author</th>
    <th>Version</th> 
    <th>Date </th> 
    <th>Lang.</th>
  </tr>
  <tr>
    <td>dataFLOYD</td>
    <td>v1.00</td> 
    <td>26 Agu 2018</td>
    <td>EN </td>
  </tr>
</table>
</div>

# Python basics for Data Science


One of the most important languages that can be used for data science is Python. Python allows you to do the data science operations very efficiently, thanks to easy-to-learn syntax and powerful libraries. It is recommended to learn Python for those who want to enter the field of data science. 

I thought it might be better to give codelets that might be needed for data science rather than teaching the language in this document in a formal way. So enjoy your journey.

------------

<div class="alert alert-warning">
<b> BASIC VARIABLES </b> 
</div>

In [1]:
# Let's see the python version
import sys # importing library
print("Python version")
print(sys.version)
# Newline
print("\n")

# Variables

# integer
a = 2
print("a = %d / Type: %s" % (a,type(a).__name__ ) )
print("\n")

# float
b = 3.0
print("b = %f / Type: %s " % (b,type(b).__name__ ) )
print("\n")

# boolean
c = True
print("c = %r / Type: %s " % (c,type(c).__name__ ))
print("\n")

# string
d = "demo"
print("d = %s / Type: %s " % (d,type(d).__name__ ))
print("\n")

# complex
e = 1j
print("e = %s / Type: %s " % (e,type(e).__name__ ))

Python version
3.6.5 |Anaconda, Inc.| (default, Mar 29 2018, 13:32:41) [MSC v.1900 64 bit (AMD64)]


a = 2 / Type: int


b = 3.000000 / Type: float


c = True / Type: bool


d = demo / Type: str


e = 1j / Type: complex

* **Variable conversions**

In [2]:
# Convert float to integer
a = 1.345
print("a = %f / Type: %s" % (a,type(a).__name__ ) )
a = int(1.345)
print("a = %d / Type: %s" % (a,type(a).__name__ ) )
print("\n")


# Convert float to string
a = 1.345
print("a = %f / Type: %s" % (a,type(a).__name__ ) )
a = str(1.345)
print("a = %s / Type: %s" % (a,type(a).__name__ ) )

a = 1.345000 / Type: float
a = 1 / Type: int


a = 1.345000 / Type: float
a = 1.345 / Type: str

--------------

<div class="alert alert-warning">
<b> DATA STRUCTURES </b> 
</div>

**LIST**

In [3]:
# Create a list
a_list = [1,2,3,4,5]

In [4]:
# Access an element of the list
print(a_list[0])

# Slice the list from beginning up to second element
# This operation returns a list
print(a_list[:2])

# Slice the list from the second element upto the end
print(a_list[2:])

# Slice the list from 2nd to 3rd element
print(a_list[2:3])

# Access the last element of the list
print(a_list[-1])

1
[1, 2]
[3, 4, 5]
[3]
5

The elements of the list might be other types of variables or even lists.

In [5]:
b_list = [1, "hello", True, [1,2,3,4], 3.14,["goodbye",1234]]
print(b_list)
print(b_list[2:4])

[1, 'hello', True, [1, 2, 3, 4], 3.14, ['goodbye', 1234]]
[True, [1, 2, 3, 4]]

To access lists within a list, we need use double indexing as shown below

In [6]:
b_list[-1][0]

'goodbye'

 * ** List Comprehensions ** <br>
This process helps to create new lists from other lists in a single line. Actually, the operation is the same as using a "for loop", but with a big difference, it looks cooler :) It is possible to create very complex list comprehensions, but for now let's focus on a simple example. Let's create a new list by taking power of each element of a list.

In [7]:
a_list = [1,2,3,4,5,6]
b_list = [x**2 for x in a_list]
print(b_list)

[1, 4, 9, 16, 25, 36]

**TUPLES** <br>
When defining a tuple, round brackets are used instead of square brackets.<br>
*The most import feeature of the tuple data structure is being "immutable". In other words after we define a tuple, it is impossible to change it* <br> In the example below we get an error message when trying to change the first element of a tuple.  ('tuple' object does not support item assignment)

In [8]:
a_tuple = (1,"one")
print(a_tuple[0])
print(a_tuple[1])
# Let's try to change the tuple
try:
    a_tuple[0] = "possible?"
except Exception as e:
    print(e)

1
one
'tuple' object does not support item assignment

**DICTIONARY** <br>
One the  most useful data types is Dictionary. It is used for many real world work. It comprises of Key-Value pairs.

In [9]:
dict_a = {"list_example":[1,2,3,4],"text":"dictionary example",
          "dict-ception": {"a":[1,2],"b":[3,4]},
          "my_favorite_bands":["Pink Floyd","Queen"],
         "my_favorite_songs":["Time","Bohemian Rhapsody"]}
dict_a

{'list_example': [1, 2, 3, 4],
 'text': 'dictionary example',
 'dict-ception': {'a': [1, 2], 'b': [3, 4]},
 'my_favorite_bands': ['Pink Floyd', 'Queen'],
 'my_favorite_songs': ['Time', 'Bohemian Rhapsody']}

In [10]:
# Access the values for a specific key
dict_a["dict-ception"]

{'a': [1, 2], 'b': [3, 4]}

In [11]:
# Access the second level and further
dict_a["dict-ception"]["a"][-1]

2

**SET** <br>
It is the unordered and unindexed collection of variables. We can carry out mathematical operations like union, intersection, difference and symmetric difference by using sets.

In [12]:
a_set = {1,2,3,4,5}
b_set = {4,5,6,7,8}
# Union
print("   Union")
print(a_set.union(b_set))
#or
print(a_set | b_set)

# Intersection
print("   Intersection")
print(a_set.intersection(b_set))
#or
print(a_set & b_set)

# Difference
print("   Diffence of a from b")
print(a_set.difference(b_set))
# or
print(a_set-b_set)

# Symmetric difference
print("   Symmetric difference")
print(a_set ^ b_set)

   Union
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
   Intersection
{4, 5}
{4, 5}
   Diffence of a from b
{1, 2, 3}
{1, 2, 3}
   Symmetric difference
{1, 2, 3, 6, 7, 8}

--------------

<div class="alert alert-warning">
<b> BASIC MATHEMATICAL OPERATIONS </b> 
</div>

For single variables

In [13]:
a = 6
b = 3.0
print("a = %d " % a)
print("b = %f " % b)
print("   Addition a+b ")
print(a + b)
print("   Subtraction a-b ")
print(a-b)
print("   Assignment c=a+b ")
c=a+b
print(c)
print("   Division a/b ")
print(a/b)
print("   Multiplication a*b ")
print(a*b)
print("   Power a**b ")
print(a**b)
print("   Mod a%(b+1) ")
print(a%(b+1))

a = 6
b = 3.000000
   Addition a+b
9.0
   Subtraction a-b
3.0
   Assignment c=a+b
9.0
   Division a/b
2.0
   Multiplication a*b
18.0
   Power a**b
216.0
   Mod a%(b+1)
2.0

** For lists **

In [14]:
a_list = [1,2]
b_list = [3,4,5]
# Adding to lists
print(a_list+b_list)
# Multiplying lists
print(a_list*4)

[1, 2, 3, 4, 5]
[1, 2, 1, 2, 1, 2, 1, 2]

** For strings **

In [15]:
a_str = "asd"
b_str = "qwerty"
# Adding strings
print(a_str+b_str)
# Multiplying strings
print(a_str*4)

asdqwerty
asdasdasdasd

<div class="alert alert-warning">
<b> FLOW CONTROL </b> 
</div>

**"if / else" and boolean operators**

In [16]:
# Create two variables
k=5
l=10

# Equal
if k==5: 
    print("k==5 is True")

# Not Equal
if k!=5:
    print("Nothing")
else:
    print("Else part activated!")
    
# Bigger than
if k>3:
    print("k is bigger than 3")

# Smaller than
if k<=5:
    print("k is smaller than 5")

# And
if (k==5) and (l==10):
    print("k is equal to 5 AND l is equal to 10")

# Or
if (k==5) or (l==20):
    print("k is equal to 5 OR l is equal to 20")

# elif
if k>5:
    print("Nothing")
elif k<5:
    print("Nothing")
elif k==5:
    print("end of elif chain")

k==5 is True
Else part activated!
k is bigger than 3
k is smaller than 5
k is equal to 5 AND l is equal to 10
k is equal to 5 OR l is equal to 20
end of elif chain

 * **if / else single line usage **

In [17]:
if 5 > 3: print("5 is bigger than 3")

5 is bigger than 3

In [18]:
print("Nothing") if 5 < 3 else print("False ")

False

**"for" loop**

In [19]:
for i in [1,2,3,4]:
    print(i)

1
2
3
4

**"while" loop**

In [20]:
i=0
while i < 5:
    print(i)
    i=i+1

0
1
2
3
4

**"break","continue","pass" **
- break: Ends the loop
- continue: Continues to next iteration
- pass: does nothing. It can be used when a statement is required syntactically but the program requires no action

In [21]:
days = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]

for day in days:
    if day == "Monday":
        print("continue: Thoughest day is " + day + " :( Let's skip this. Won't appear again in the loop")
        continue
    if day == "Tuesday":
        print("pass: This has no effect " + day + ". It will be used in the bottom statement")
        pass
    if day == "Friday":
        print("break: Before reaching to Saturday, let's finish at " + day + ". Saturday and Sunday won't appear")
        break
    else:
        print(" Today " + day)

continue: Thoughest day is Monday :( Let's skip this. Won't appear again in the loop
pass: This has no effect Tuesday. It will be used in the bottom statement
 Today Tuesday
 Today Wednesday
 Today Thursday
break: Before reaching to Saturday, let's finish at Friday. Saturday and Sunday won't appear

** try and except ** <br>
We use try and excpet when we want to find the errors within a program. After except statement it is possible to capture the error message.

In [22]:
a_tuple = (1,"one")
# Try to change the tuple
try:
    a_tuple[0] = "possible?"
except Exception as e:
    print(e)

'tuple' object does not support item assignment

<div class="alert alert-warning">
<b> FUNCTIONS </b> 
</div>

Functions are pieces of codes which are run when they are called. Functions can take inputs and return values.

In [23]:
# Let's prepare a simple simple function
def a_function():
    print("Hello world!")
# Calling the function
a_function()

Hello world!

In [24]:
# A function with a default parameter
def b_function(country_name="Turkey"):
    print("Here is " + country_name)

b_function()
b_function("World")

Here is Turkey
Here is World

In [25]:
# A function with a return value
def c_function(num = 2):
    return num**2

ret_val = c_function(3)
print(ret_val)

9

**LAMBDA FUNCTIONS**

Lambda functions can take more than one parameter bu they have only one expression. <br>The general structure of a lambda function is given below <br>

<p style="text-align: center;"> *lambda parametre : ifade* </p>

In [26]:
# A lambda function for taking the third power of a number
a_lambda_function = lambda x : x**3
print(a_lambda_function(3))

27

Let's say we need to create a generic function family to take the nth power of a number. For this purpose we can use a lambda function inside another function.

In [27]:
def power_family(n):
    return lambda x:x**n

second_power = power_family(2)
third_power = power_family(3)
fourth_power = power_family(4)

print(second_power(2))
print(third_power(2))
print(fourth_power(2))

4
8
16

<div class="alert alert-warning">
<b> CLASSES </b> 
</div>

Python is an object oriented language. Virtually everything in python language is composed of objects, properties and methods.<br>

In [28]:
# Class definition
class a_class:
    # Constructor
    def __init__(self,name,number):
        self.name = name
        self.number = number
    def print_info(self):
        print("Name: " + self.name + "\nNumber: " + str(self.number))

In [29]:
my_name = a_class("dataFLOYD",42)
my_name.print_info()

Name: dataFLOYD
Number: 42